<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    {%extends 'base.html'%}
    {%load bootstrap3%}
    {% block content %}
    <h1>New Post</h1>

    {% if error %}
    {{ error }}
    <br><br>
    {% endif %}

    <div class="container">
        <form method="POST" action="{% url 'create' %}">
            <div class="form-group">
                <label for="email">Title:</label>
                <br>
                <input type="title" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="pwd">URL:</label>
                <br>
                <input type="url" class="form-control" id="url">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
      
    </div>
</body>
{% endblock %}
</html>